@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

@media (min-width: 376px) {
  html {
    font-size: 75%; } }

@media (min-width: 426px) {
  html {
    font-size: 87.5%; } }

@media (min-width: 769px) {
  html {
    font-size: 93.75%; } }

@media (min-width: 1025px) {
  html {
    font-size: 100%; } }

body {
  font-family: "Josefin Sans", sans-serif;
  background-image: url("/images/bg-pattern-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh; }
  @media (min-width: 769px) {
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh; } }

.container {
  max-width: 144rem;
  width: 100%;
  max-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 769px) {
    .container {
      display: grid;
      grid-template-columns: 60% 40%;
      width: 90%;
      position: relative; } }
  .container-top {
    padding: 1.5rem;
    width: max-content; }
    .container-top img {
      width: 75%; }
    @media (min-width: 769px) {
      .container-top {
        position: absolute;
        left: 4rem; } }
  .container-middle {
    margin-bottom: 3rem; }
    @media (min-width: 769px) {
      .container-middle {
        grid-column: 2/3; } }
    .container-middle .mobile {
      width: 100%;
      object-fit: contain; }
      @media (min-width: 769px) {
        .container-middle .mobile {
          display: none; } }
    .container-middle .desktop {
      display: none; }
      @media (min-width: 769px) {
        .container-middle .desktop {
          display: block;
          width: 100%; } }
  .container-last {
    text-align: center; }
    @media (min-width: 769px) {
      .container-last {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 5rem;
        text-align: left;
        padding-left: 5rem; } }
    .container-last-heading {
      text-transform: uppercase;
      color: #413a3a;
      font-weight: 600;
      font-size: 4rem;
      line-height: 1.1;
      letter-spacing: 0.4rem;
      margin-bottom: 3rem; }
      .container-last-heading span {
        color: #ce9797;
        font-weight: 300; }
      @media (min-width: 769px) {
        .container-last-heading {
          margin-top: 3rem; } }
    .container-last-sub-heading {
      font-size: 1.2rem;
      font-weight: 400;
      color: #ce9797;
      line-height: 1.4;
      margin: 0 auto;
      width: 90%;
      margin-bottom: 3rem; }
      @media (min-width: 769px) {
        .container-last-sub-heading {
          margin-left: 0; } }
    .container-last form {
      position: relative;
      margin-bottom: 3rem; }
      .container-last form .form-group {
        border: 0.2px solid #413a3a;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        overflow: hidden; }
        @media (min-width: 769px) {
          .container-last form .form-group {
            margin-left: 0; } }
        .container-last form .form-group input {
          border: none;
          outline: none;
          padding-left: 1rem;
          width: 100%;
          font-size: 1.2rem; }
          .container-last form .form-group input::placeholder {
            color: #ce9797;
            font-weight: 400; }
        .container-last form .form-group button {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem 2rem;
          background-color: #f96262;
          border-radius: 2rem;
          border: none;
          cursor: pointer; }
          .container-last form .form-group button:hover {
            background-color: rgba(249, 98, 98, 0.9); }
        .container-last form .form-group .error-msg {
          display: none;
          position: absolute;
          left: 5%;
          bottom: -2rem;
          color: #f96262; }
        .container-last form .form-group .error-image {
          display: none;
          position: absolute;
          right: 22%; }
